<%= form_for(@amenity) do |f| %>
  <% if @amenity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amenity.errors.count, "error") %> prohibited this amenity from being saved:</h2>

      <ul>
      <% @amenity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-sm-6">
        <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
    </div>
    <div class="col-sm-6">
          <div class="form-group">
    <%= f.label :category %><br>
    <%= f.select(:category, ['Features', 'Programs', 'Sports/Activities', 'Amenities'], {}, {class: 'form-control'}) %>
  </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
