<p id="notice"><%= notice %></p>

<%= content_tag :h2,  @location.name %>

<p>
	<strong>Type:</strong>
	<%= @location.ltype %>
</p>

<p>
	<strong>Address:</strong>
	<%= @location.address %>
</p>

<p>
	<strong>Phone:</strong>
	<%= @location.phone %>
</p>

<p>
	<strong>Hours:</strong>
	<%= @location.hours %>
</p>

<p>
	<strong>Description:</strong>
	<%= @location.description %>
</p>

<p>
	<strong>Staffed:</strong>
	<%= @location.staffed %>
</p>

<p>
	<strong>Parking:</strong>
	<%= @location.parking %>
</p>

<p>
	<strong>Restrooms:</strong>
	<%= @location.restrooms ? 'true' : 'false' %>
</p>

<p>
	<strong>Amenities:</strong>
	<ul>
		<% @location.amenities.each do |amen| %>
		<%= content_tag :li, amen.name %>
		<% end %>
	</ul>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %> |
<%= link_to 'Next', Location.where("id > ?", @location.id).first if Location.where("id > ?", @location.id).any? %>
